{% extends 'base.html.twig' %}

{% block title %}
    Détail d'ingrédient
{% endblock %}

{% block body %}
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9 link-list">
                <a href="/">Retourner à la liste</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4 card">
                    <div id="food-id" class="card-line_header">
                        #
                    </div>
                    <div id="origfdnm" class="card-line">
                        Nom de l'aliment ( ORIGFDNM ) :
                    </div>
                    <div id="origgpfr" class="card-line">
                        Nom de la famille d'aliments ( ORIGGPFR ) :
                    </div>
                    <div id="origgpcd" class="card-line">
                        Code de la famille d'aliments ( ORIGGPCD ) :
                    </div>
                    <div id="origfdcd" class="card-line">
                        Code de l'aliment ( ORIGFDCD ) :
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="text-left" id="nutrients-title">Nutriments : </h3>
            <div id="nutrients" class="col-sm-12">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $( document ).ready(function() {
            $.ajax({
                url : '/api/foods/'+{{ foodId }},
                type : 'GET',
                success: function (data) {
                    $('#food-id').html( "<p>#" + data.data.id +"</p>");
                    $('#origgpcd').html( "<p>Code de la famille d'aliments ( ORIGGPCD ) : " + data.data.origgpcd +"</p>" );
                    $('#origgpfr').html( "<p>Nom de la famille d'aliments ( ORIGGPFR ) : : " + data.data.origgpfr +"</p>" );
                    $('#origfdcd').html( "<p>Code de l'aliment ( ORIGFDCD ) : " + data.data.origfdcd +"</p>" );
                    $('#origfdnm').html( "<p>Nom de l'aliment ( ORIGFDNM ) : " + data.data.origfdnm +"</p>" );

                    data.data.nutrients.forEach(function (nutrient) {
                        if(nutrient.value && nutrient.value !== "0") {
                            var html = "<div class='card-nutrient col-sm-3'>"
                                    + "<div class='card-nutrient_header'>"
                                    + "<p>"+nutrient.label+"</p>"
                                    + "</div>"
                                    + "<div class='card-nutrient_content'>"
                                    + "<p class='card-nutrient_value'>"+nutrient.value+"</p>"
                                    + "<p class='card-nutrient_measured'>"+nutrient.measured+"</p>"
                                    + "</div>"
                                    + "</div>";

                            $('#nutrients').append(html);
                        }
                    })
                },
                error: function (error) {
                    $('#error-message').remove();
                    var html = "<div id='error-message'>"
                            + "<a id='error-close' href='#'>X</a>"
                            + "<p>"+error.responseJSON.message+"</p>"
                            + "</div>";
                    $('body').prepend(html);
                }
            });

            $("body").on('click', '#error-close', function (e) {
                e.preventDefault();
                $('#error-message').remove();
            });
        });

    </script>
{% endblock %}
